/* reset */
ul, ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
footer, main, header{
  margin: 0;
}
a{
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
}
button{
    border: 0;
    margin: 0;
    background-color: none;
}
*{
    box-sizing: border-box;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
:root {
  --font-family: "Inter", sans-serif;
  --second-family: "HeadlandOne", sans-serif;
  --third-family: "Hammersmith One", sans-serif;
}
.container{
    width: 1062px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.header{
   background: url(../images/overlay.png) center/cover no-repeat,url(../images/header.png) center/cover no-repeat;
   padding: 39px 0;
   display: flex;
   align-items: center;
}
.logo-header{
  padding-bottom: 39px;
}
.header-position{
  display: flex;
  align-items: center;
} 
.language-switcher{
  padding-left: 15px;
  margin-right: auto;
}
.nav-list{
  display: flex;
  column-gap: 38px;
}
.nav-list{
  margin-left: 168px;
  margin-right: 212px;
}
.nav-link{
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 20px;
  color: #fff;
}
.nav-link:hover{
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  color: #94cfff;
}
.buttonstyle{
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #26c6ea;
  background-color: #0B0E66;
  border: 2px solid #26c7ea;
  border-radius: 35px 0;
  width: 141px;
  height: 41px;
}
.language-switcher{
  display: flex;
  column-gap: 10px;
}
.language-switcher-text{
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}
/* main */
.enter{
  background: url(../images/mainhead.png) center/cover no-repeat;
  padding-top: 180px;
}
.enter-position{
  display: flex;
}
.enter-text-ua, .enter-text-navi{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: #fff;
}
.enter-text-navi{
  margin-right: 734px;
  margin-bottom: 41px;
}
.enter-text-ua{
  margin-bottom: 40px;
  margin-right: 606px;
}
.icons-list{
  margin-top: 119px;
}
.instagram-icon{
 margin-bottom: 24px;
}
.twitter-icon{
 margin-bottom: 27px;
}
.quote-text{
  margin-top: 75px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  color: #0a3853;
}
.author{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #000;
}
.author::after{
  content: "";
  display: block;
  height: 120px;
  width: 400px;
  margin: 0 316px;
  margin-top: 14px;
  margin-bottom: 10px;
  background-image: url(../images/bird.png);
}

.buttonstyle-join{
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #26c6ea;
  background-color: #0B0E66;
  border: 3px solid #26c7ea;
  border-radius: 45px 0;
  width: 260px;
  height: 80px;
  margin-bottom: 180px;
}
.trailer{
  background: url(../images/trailerpicture.jpg) center/cover no-repeat;
}
.buttonstyle-watch{
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #26c6ea;
  background-color: #0B0E66;
  border: 3px solid #26c7ea;
  border-radius: 45px 0;
  width: 260px;
  height: 80px;
  margin: 330px 386px;
  
}
.translate{
  background: url(../images/languagebackground.png) center/cover no-repeat;
}
.translate-tile{
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  color: #141414;
  padding-top: 58px;
  padding-bottom: 45px;
}
.translate-item{
  flex-basis: calc(( 100% - 72px ) / 3);
}
.translate-card{
  background-color: rgba(255, 255, 255, 0.7);
}
.translate-word{
 font-family: var(--second-family);
 font-weight: 400;
 font-size: 24px;
 line-height: 1.00;
 text-align: center;
 color: #141414;
 padding-top: 36px;
}

.group1:after{
  content: '';
  display: block;
  margin: 40px 84px;
  height: 40px;
  width: 152px;
  background-image: url(../images/stickright.png);
}
.group2:after{
   content: '';
  display: block;
  margin: 40px 84px;
  height: 40px;
  width: 152px;
  background-image: url(../images/birdmin.png);
}
.group3:after{
  content: '';
  display: block;
  margin: 40px 84px;
  height: 40px;
  width: 152px;
  background-image: url(../images/stickleft.png);
}
.translate-result{
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 1.00;
  text-align: center;
  color: #000;
  padding-bottom: 36px;
  margin-bottom: 93px;
}
.translate-list{
  display: flex;
  flex-wrap: wrap;
  column-gap: 36px;
  row-gap: 24px;
}
.footer{
  background: url(../images/overlay.png) center/cover no-repeat , url(../images/footerbackground.png) center/cover no-repeat;
  padding-top: 77px ;
  padding-bottom: 76px;
}
/* .footer-position:nth-child(-n+2){
  display: flex;
} */
.logo-footer{
  border-right: 2px solid white;
  padding-right: 80px;
  padding-top: 42px;
  padding-bottom: 42px;
}
.contact-text{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #fff;
  margin-bottom: 18px;
  margin-left: 80px;
  margin-right: 20px;
}
.contact-link{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #fff;
  margin-bottom: 18px;
  margin-left: 20px;
}
.contact-position{
  margin-top: 45px;
}
.vector1{
  margin-top: 57px;
  width: 269px;
  height: 0px;
  outline: 1px dashed white ;
}
.vector2{
  width: 194px;
  height: 0px;
  margin-top: 11px;
  outline: 1px dashed white ;
}
.contact-item{
  display: flex;
}
.info{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #fff;
  margin-top: 37px;
}